body{
	background:#f2f2f2;
	background: linear-gradient(#f2f2f2, yellow);
	background-repeat:no-repeat;
}

nav{
	background-color:#f2f2f2;
	color:#f2f2f2;
	font-size:1.5em;
	font-family:cursive;
	font-weight:bold;
	height:80px;
	width:100%;
	margin-top:15px;
	margin-bottom: 15px;
}

ul{
	list-style-type:none;
	height:99%;
	margin-top:0;
	margin-bottom:0;
}


header{
  height:70px;	
}

p{
	padding-left:10px;
}

header>h1{
	font-size:2.5em;
	font-family:Verdana, arial;
	text-align: center;
	padding-top:10px;
	margin:0;
}

ul li {
    display: inline-block;
    height: 90%;   
	margin-left:8%;
	margin-top:auto;
	margin-bottom:auto;
	background: red;
	background: linear-gradient(red, yellow);
    border: 4px outset #323232;
	width:14%;
	text-align:center;	
	border-radius: 10px;
}

ul li:first-of-type{
	margin-left:6%;
}

ul li:hover{
	border:4px inset yellow;
	
}

ul li a{
	text-decoration:none;
	width:100%;
	height:100%;
	display:inline-block;
}

div{
  
}

#wrapper{
	width:85%;
	margin:0 auto; /*centrering*/
	background:#ccccff;
	background: linear-gradient(#ccccff, #0000b3);
	color:white;
}

#content{
	float:left;
    width:75%;
	margin-left:10px;
 }
 
#content p{
	margin-left:50px;
}
#content p:first-of-type{
	margin-top:0;
}

article{
	display:inline-block;
	width:90%;
	padding:0;
	border-bottom: 2px dashed yellow;
}

article:Last-child{
	border-bottom:none;
}
aside{
	float:right;
	width:20%;
} 
 
footer{
	position:relative;
	margin: 10px auto;
	text-align:center;
	height:30px;
	width:85%;
	bottom:10px;
	padding-top:10px;
	padding-bottom:0;
	background-color:#ffffb3;	
}

#index figure{
	float:left;
	margin:0px 10px 15px 10px;
}

main{
	padding:10px;
}

main:after{
	content:"";
	display:block;
	clear:both;
}

section:after{
	content:"";
	display:block;
	clear:both;
}

p{
	display:inline;
}

figcaption{
	text-align:center;
	text-transform:uppercase;
}

figure img{
	width:100px;
	height:100px;
}

#sida3 figure{
	float:left;
	margin-left:50px;
}

#sida2 h2, #sida3 h2{
	text-align: center;
	color:moccasin;
	font-size: 2em;
	margin-top:0;
}

#content3{
	margin-top:20px; 
}

#sida2 table{
	width:80%;
	border: 1px solid red;
	border-collapse: collapse;
}

#sida2 td, #sida2 th{
	border: 1px solid red;
}

#sida2 th:nth-child(1){
	text-align: left;
	
}

#sida2 td:nth-child(3), #sida2 td:nth-child(4){
	text-align: center;
}

#sida2 table a:link, #sida2 table a:visited, #sida2 table a:focus, #sida2 table a:active{
	color:white;
}
